# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Flask
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded patient files
uploads/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
# Tesseract Windows installers
*.exe
tesseract-setup.exe
tesseract_installer.exe